.adminDash {
  margin-top: 75px;
  display: flex;
  min-height: 100vh;
}

.adminDash_left {
  background: #282828;
  width: 155px;

  /*sticky sidebar*/
  position: fixed;
  top: 75px;
  height: 100%;
}

.nav-link {
  border-bottom: 1px solid #4b4b4b;
  color: white;
}
.nav-link:hover {
  background: black;
  color: white;
}

.adminDash_right {
  flex-grow: 1;
  margin: 50px 0px 0px 155px;
}