<div class="adminTable table-responsive">
  <div class="table-title">
    <h3>Authors</h3>
    <a routerLink="/admin/authors/add">
      <button class="addButton">
        <i class="material-icons">add</i>
        Add New
      </button>
    </a>
  </div>
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Author Id</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <th scope="row">{{author.authorId}}</th>
        <td>{{author.authorName}}</td>
        <td class="table_buttons">
          <a class="edit" title="Edit Author" [routerLink]="['/admin/authors/edit/', author.authorId]" data-toggle="tooltip">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" title="Delete Author" (click)="deleteAuthor(author.authorId)" data-toggle="tooltip">
            <i class="material-icons">delete</i>
          </a>
          <!-- <button class="delete" title="Delete Author" data-toggle="tooltip" (click)="deleteAuthor(author.authorId)">
            <i class="material-icons">delete</i>
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
