<div class="adminTable table-responsive">    
  <div class="table-title">
    <h3>Books</h3>
    <a routerLink="/admin/books/add">
      <button class="addButton">
        <i class="material-icons">add</i>
        Add New
      </button>
    </a>
  </div>
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Book Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <th scope="row">{{book.bookId}}</th>
        <td>{{book.bookTitle}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.publisherName}}</td>
        <td class="table_buttons">
          <!-- for edit button, link to editBookComponent and add bookId to URL -->
          <a 
            class="edit" 
            [routerLink]="['/admin/books/edit/', book.bookId]"
            title="Edit Book" 
            data-toggle="tooltip"
          >
            <i class="material-icons">edit</i>
          </a>
          <a 
            class="delete" 
            (click)="deleteBookHandler(book.bookId)" 
            title="Delete Book" 
            data-toggle="tooltip"
          >
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>