<div class="adminTable">
  <h3>Add New Library Branch</h3>
  <div class="adminAddSpace"></div>
  <form>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Branch's Name</label>
      <div class="col-sm-10">
        <input id="name" type="text" class="form-control" (keyup)="onKey1($event)" placeholder="Branch's Name...">
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label">Branch's Address</label>
      <div class="col-sm-10">
        <input id="address" type="text" class="form-control" (keyup)="onKey2($event)" placeholder="Branch's Address...">
      </div>
    </div>
  </form>
 
  <div class="submit_bttns">
    <a routerLink="/admin/branches">
      <button class="cancel">Cancel</button>
    </a>
      <button class="update" (click)="addBranch(branch)" >Add Branch</button>
  </div>
</div>