<div class="adminTable table-responsive">    
  <div class="table-title">
    <h3>Publishers</h3>
    <a routerLink="/admin/addpublisher">
      <button class="addButton">
        <i class="material-icons">add</i>
        Add New
      </button>
    </a>
  </div>
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Publisher Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let publisher of publishers; index as i">
        <th scope="row">{{publisher.publisherId}}</th>
        <td>{{publisher.publisherName}}</td>
        <td>{{publisher.publisherAddress}}</td>
        <td>{{publisher.publisherPhone}}</td>
        <td class="table_buttons">
          <a class="edit" [routerLink]="['/admin/editpublisher', publisher.publisherId]" title="Edit Publisher" data-toggle="tooltip">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" (click)="deletePublisher(publisher.publisherId)" title="Delete Publisher" data-toggle="tooltip">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>

    </tbody>
  </table>
</div>

  

