<div class="adminTable">
  <h3>Add New Publisher</h3>
  <div class="adminAddSpace"></div>
  <form>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input id="name" type="text" class="form-control" (keyup)="onKey1($event)" placeholder="Publisher Name...">
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input id="address" type="text" class="form-control" (keyup)="onKey2($event)" placeholder="Publisher Address...">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input id="phone" type="text" class="form-control"  (keyup)="onKey3($event)"placeholder="Publisher Phone...">
      </div>
    </div>
  </form>
 
  <div class="submit_bttns">
    <a routerLink="/admin/publishers">
      <button class="cancel">Cancel</button>
    </a>
      <button class="update" (click)="addPublisher(publisher)">Add Publisher</button>
  </div>
</div>