<div class="adminTable table-responsive">    
  <div class="table-title">
    <h3>Branches</h3>
    <a routerLink="/admin/addbranch">
      <button class="addButton">
        <i class="material-icons">add</i>
        Add New
      </button>
    </a>
  </div>
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Branch Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let branch of branches; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{branch.branchName}}</td>
        <td>{{branch.branchAddress}}</td>
        <td class="table_buttons">
          <a class="edit"  [routerLink]="['/admin/editbranch/', branch.branchId]" title="Edit Branch" data-toggle="tooltip">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" (click)="deleteBranch(branch.branchId)" title="Delete Branch" data-toggle="tooltip">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


