<div class="adminTable table-responsive">    
  <div class="table-title">
    <h3>Borrowers</h3>
    <a routerLink="/admin/borrowers/add">
      <button class="addButton">
        <i class="material-icons">add</i>
        Add New
      </button>
    </a>
  </div>
  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let borrower of borrowers">
        <th scope="row">{{borrower.cardNo}}</th>
        <td>{{borrower.name}}</td>
        <td>{{borrower.address}}</td>
        <td>{{borrower.phone}}</td>
        <td class="table_buttons">
          <a 
            class="edit" 
            [routerLink]="['/admin/borrowers/edit/', borrower.cardNo]"
            title="Edit Book" 
            data-toggle="tooltip"
          >
            <i class="material-icons">edit</i>
          </a>
          <a 
            class="delete" 
            (click)="deleteHandler(borrower.cardNo)" 
            title="Delete Borrower" 
            data-toggle="tooltip"
          >
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>

    </tbody>
  </table>
</div>
